<h1>ユーザー新規登録</h1>
<%= form_with(model: @user, url: user_registration_path, local: true) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label 'アカウント名（登録後は変更できません）' %><br />
    @<%= f.text_field :account, placeholder: "半角英数 20文字まで", autofocus: true, maxlength: "20" %>
  </div>

  <div class="field">
    <%= f.label 'ユーザー名' %><br />
    <%= f.text_field :name, placeholder: "かな＆英数 30文字まで", maxlength: "30" %>
  </div>

  <div class="field">
    <%= f.label 'メールアドレス' %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label 'プロフィール文' %><br />
    <%= f.text_area :profile %>
  </div>

  <div class="field">
    <%= f.label '近況・ひとこと' %><br />
    <%= f.text_field :tweet, placeholder: "かな＆英数 30文字まで" %>
  </div>

  <div class="field">
    <%= f.label '都道府県' %>
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"user-prefecture"}) %>
  </div>

  <div class="field">
    <%= f.label 'パスワード' %>
    <% if @minimum_password_length %>
    <em>(英数混合で<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label 'パスワード（確認）' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録する" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>