<div class="show-article">
  <div class="show-title">
    <%= @article.title %>
  </div>
  <div class="show-article-description">
    <%= @article.description %>
  </div>
  <div class="show-created-at">
    投稿日時：<%= l @article.created_at %>
  </div>
  <div class="show-updated-at">
    <% if @article.created_at != @article.updated_at %>
      更新日時：<%= l @article.updated_at %>
    <% end %>
  </div>
  <div class="show-info">
    <div class="show-grade">
        <%= link_to "#{@article.grade.name}", grade_path(@article.grade_id), class: "show-btn" %>
    </div>
    <div class="show-subject">
        <%= link_to "#{@article.subject.name}", subject_path(@article.subject_id), class: "show-btn" %>
    </div>
    <div class="show-genre">
        <%= link_to "#{@article.genre.name}", genre_path(@article.genre_id), class: "show-btn" %>
    </div>
              <% if user_signed_in? && @article.release == false%>
                <div class="index-article-not-release">
                  <p class="index-article-not-release-font">非公開になっています</p>
                </div>
              <% end %>
  </div>
  <div class="show-content">
    <div class="show-article-content-box">
      <%= markdown("#{@article.content}").html_safe %>
    </div>
  </div>



  <div class="show-article-comments-box" id="comments">
    <span class="show-article-comments-box-title">
      <p>コメント
        (<%= @article.comments.length %>)</p>
    </span>
    <% if @article.comments.exists? %>
      <% @article.comments.each do |comment| %>
        <div class="show-article-comment">
              <div class="show-comment-info-right-time">
                <%= l comment.created_at %>
              </div>
          <div class="show-comment-info">
            <div class="show-comment-info-left">
              <%= link_to "/users/#{comment.user_id}" do %>
                <%= image_tag 'default-icon.png', class: "show-comment-user-icon" unless comment.user.image.attached? %>
                <%= image_tag comment.user.image, class: "show-comment-user-icon" if comment.user.image.attached? %>
              <% end %>
            </div>
            <div class="show-comment-info-right">
              <div class="show-comment-info-user">
                <%= link_to "#{comment.user.name}", user_path(comment.user_id) %><br />
                @<%= comment.user.account %>
              </div>
            </div>
          </div>
          <div class="show-comment-content">
            <%= comment.message %>
          </div>
        </div>
      <% end %>
    <% else %>
      まだコメントはありません
    <% end %>
  </div>
  <div>
    <% if user_signed_in? %>
    <p>コメント投稿フォーム</p>
      <%= form_with model:@comment, url: article_comments_path(@article), local: true do |f| %>
        <div>
          <%= f.text_area :message, placeholder: "コメントを入力してください", maxlength: 500, class: "show-comment-form" %>
        </div>
        <%= f.submit "コメントを投稿する" %>
      <% end %>
    <% else %>
      ※コメントを投稿するためにはログインが必要です
    <% end %>
  </div>
</div>