<div class="show-article">
  <div class="show-title">
    <%= @article.title %>
  </div>
  <div class="show-created-at">
    投稿日時：<%= l @article.created_at %>
  </div>
  <div class="show-updated-at">
    <% if @article.created_at != @article.updated_at %>
      更新日時：<%= l @article.updated_at %>
    <% end %>
  </div>
  <div class="show-info">
    <div class="show-grade">
      <a href="" class="show-btn">
        <%= @article.grade.name %>
      </a>
    </div>
    <div class="show-subject">
      <a href="" class="show-btn">
        <%= @article.subject.name %>
      </a>
    </div>
    <div class="show-genre">
      <a href="" class="show-btn">
        <%= @article.genre.name %>
      </a>
    </div>
  </div>
  <div class="show-content">
    <div class="show-article-content-box">
      <%= markdown("#{@article.content}").html_safe %>
    </div>
  </div>
  <div class="show-comments">
    <% if @comments.exists? %>
      <% @comments.each do |comment| %>
        <%= comment.message %><br />
        <%= comment.user.name %><br/>
        <%= l comment.created_at %>
      <% end %>
    <% end %>
    <p>コメント投稿フォーム</p>
    <% if user_signed_in? %>
      <%= form_with model:@comment, url: article_comments_path(@article), local: true do |f| %>
        <div class="show-comment-form">
          <%= f.text_area :message, placeholder: "コメントを入力してください", maxlength: 500 %>
        </div>
        <%= f.submit "コメントを投稿する" %>
      <% end %>
    <% else %>
      コメントを投稿するためにはログインが必要です。
    <% end %>
  </div>
</div>