<div class="show-article">
<h1>ユーザー情報編集</h1>
<%= form_with(model: @user, url: user_path(@user.id), method: :patch, local: true) do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

  <p>現在のアイコン画像</p>
    <%= image_tag 'default-icon.png', class: "side-user-icon" unless @user.image.attached? %><br />
  <%= image_tag @user.image, class:"side-user-icon" if @user.image.attached? %><br />
  <p>アイコン画像を変更（選択しない場合は現在のままです）</p>
  <div class="new-user-icon-upload" id="new-user-icon-upload">
      <%= image_tag 'default.png', class: "sign-up-icon", id: "new-user-icon-preview" %>
  <div id="image-preview"></div>
    <p>
      クリックしてファイルをアップロード
    </p>
    <%= f.file_field :image, id:"new-user-icon-select" %>
  </div>

  <div class="field">
    <%= f.label 'アカウント名（登録後は変更できません）' %><br />
    @<%= @user.account %>
  </div>

  <div class="field">
    <%= f.label 'ユーザー名' %><br />
    <%= f.text_field :name, placeholder: "かな＆英数 30文字まで", maxlength: "30" %>
  </div>

  <div class="field">
    <%= f.label 'メールアドレス' %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label '都道府県' %>
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"user-prefecture"}) %>
  </div>

  <div class="field">
    <%= f.label '現在のパスワード' %>
    <% if @minimum_password_length %>
    <em>(英数混合で<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :current_password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label '新しいパスワード' %>
    <% if @minimum_password_length %>
    <em>(英数混合で<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label '新しいパスワード（確認）' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ユーザー情報を編集する" %>
  </div>
<% end %>
</div>