<h1>main-side</h1>

<% if @index_page %>
  トップページ
<% end %>

<% if @show_page %>
  <% if user_signed_in? && @article.user_id == current_user.id %>
    <%= link_to '記事を編集する', edit_article_path(@article) %><br />
    <%= link_to '記事を削除する', article_path(@article), method: :delete,  data: { confirm: "商品を削除しますか？" } %>
  <% end %>




  <%= image_tag 'default-icon.png', class: "side-user-icon" unless @article.user.image.attached? %><br />
  <%= image_tag @article.user.image, class:"side-user-icon" if @article.user.image.attached? %><br />
  投稿者：<%= link_to "#{@article.user.name}", user_path(@article.user_id) %><br />
  <%= @article.user.tweet %><br />
  <%= @article.description %>
<% end %>

<% if @user_show_page %>
  ユーザー情報表示ページです。
<% end %>

<% if @user_edit_page %>
  ユーザー情報編集ページです。
<% end %>